<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676009647019-06heppdra9em07k7l3gk3tolsqmq2ejp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676009647019-06heppdra9em07k7l3gk3tolsqmq2ejp</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDjwMIFsFo-GidX22q_xSJe-dSs-XWOg</string>
	<key>GCM_SENDER_ID</key>
	<string>676009647019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home.doToday</string>
	<key>PROJECT_ID</key>
	<string>dotoday-2670b</string>
	<key>STORAGE_BUCKET</key>
	<string>dotoday-2670b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676009647019:ios:fab6bf00ab667f1c2450ee</string>
</dict>
</plist>